<div class = "person">
<ul>
    <li>Pavel Avtushko</li>
    <li><strong>EDUCATION</strong>
        <ul>
           <li>
                <p><strong>BNTU</strong></p>
                <p>Power Plant Construction and Engineering Services Faculty</p>
                <p>Graduation year 2015</p>
                <p>Degree PhD</p>                
            </li>
           <li>
                <p><strong>BNTU</strong></p>
                <p>Power Plant Construction and Engineering Services Faculty</p>
                <p>Graduation year 2011</p>
                <p>Degree master</p>                
            </li>
            <li>
                <p><strong>BNTU</strong></p>
                <p>Power Plant Construction and Engineering Services Faculty</p>
                <p>Graduation year 2009</p>
                <p>Degree specialist</p>                
            </li>
       </ul>



    </li>
    <li>BirthdayDate: 16.02.1987</li>
    <li>Merital status: merried</li>
    <li>English level: A2 (pre-Intermediate)</li>
    <li><strong>WORK EXPERIENCE</strong>
       <ul>
           <li> 
                <p><strong>RUE "Belnipienergoprom"</strong></p>
                <p>Head of sector</p>
                <p>17.07.2009-09.03.2017</p>
            </li>
           <li>
                <p><strong>Trest 15"Spetsstroy" JSC</strong></p>
                <p>A worker of pipelines assembling</p>
                <p>01.07.2008-15.08.2008</p>
           </li>
           <li>
                <p><strong>Company name NP LLC "Malaya Energetika"</strong></p>
                <p>Hydraulic engineer</p>
                <p>05.01.2009-10.07.2009</p>
           </li>
       </ul>

    </li>
</ul>
</div>

