<main class="clearfix cards">
    <a href="/CustomYouTube">
        <img src="./img/YouTube.jpg" alt="YouTube">
        <h4>Custom YouTube</h4>
        <ul>
            <li>Vanilla JS</li>
            <li>HTML5, CSS3</li>
            <li>Google API</li>
            <li>Animation</li>
            <li>Responsive design</li>
            <li>AJAX</li>
            <li>Webpack</li>
        </ul>
    </a>

    <a href="/SimpleGame">
        <img src="./img/Game.jpg" alt="Game">
        <h4>Simple Game</h4>
        <ul>
            <li>Vanilla JS</li>
            <li>ES6 syntax</li>
            <li>HTML5, CSS3</li>
            <li>Canvas</li>
            <li>Animation</li>
            <li>Sprites</li>
        </ul>
    </a>


    <a href="https://github.com/PavelAvtushko/WunderList/tree/gh-pages">
        <img src="./img/Angular.jpg" alt="Angular">
        <h4>WunderList (local s)</h4>
        <ul>
            <li>Mongodb</li>
            <li>Express</li>
            <li>Angular 1</li>
            <li>Node.js</li>
            <li>ES6 syntax</li>
            <li>Bootstrap</li>
            <li>HTML5, CSS3</li>
            <li>Webpack</li>
        </ul>
    </a>

    <a href="/FormsWithJQuery">
        <img src="./img/Jquery.jpg" alt="Jquery">
        <h4>JQuery Task</h4>
        <ul>
            <li>HTML5, CSS3</li>
            <li>Canvas</li>
            <li>JQuery</li>
        </ul>
    </a>

    <a href="/FinalTaskHTML">
        <img src="./img/fin.jpg" alt="FinalTaskHTML">
        <h4>Final HTML Task</h4>
        <ul>
            <li>HTML5, CSS3</li>
            <li>Font-awesome</li>
            <li>PhotoShop</li>
            <li>Custom sprites</li>
        </ul>
    </a>

    <a href="/SASS-framework">
        <img src="./img/sad.jpg" alt="framework">
        <h4>Bootstrap</h4>
        <ul>
            <li>HTML5</li>
            <li>Bootstrap</li>
            <li>SASS</li>
            <li>PhotoShop</li>
        </ul>
    </a>

    <a href="https://github.com/PavelAvtushko/Binary-search-tree/blob/master/index.js">
        <img src="./img/BST.jpg" alt="BST">
        <h4>Binary Search Tree</h4>
        <ul>
            <li>Vanilla JS</li>
            <li>ES5 syntax</li>
        </ul>
    </a>

    <a href="/Responsive-design">
        <img src="./img/rwd.jpg" alt="rwd">
        <h4>Responsive Design</h4>
            <li>HTML5, CSS3</li>
            <li>Flexbox</li>
            <li>PhotoShop</li>
    </a>

    <a href="https://github.com/PavelAvtushko/Custom-JQuery/blob/master/index.js">
        <img src="./img/BST.jpg" alt="BST">
        <h4>Custom Jquery</h4>
        <ul>
            <li>Vanilla JS</li>
            <li>ES6 syntax</li>
            <li>Module pattern</li>
        </ul>
    </a>

</main>
