<main class="clearfix">
    <a href="/CustomYouTube">
        <h4>Custom YouTube</h4>
        <p>Description</p>
    </a>
    <a href="/SimpleGame">
        <h4>Simple Game</h4>
        <p>Description</p>
    </a>
    <a href="/FormsWithJQuery">
        <h4>Forms with JQuery</h4>
        <p>Description</p>
    </a>
    <a href="/Accessibility">
        <h4>Accessibility</h4>
        <p>Description</p>
    </a>
    <a href="/FinalTaskHTML">
        <h4>Final HTML Task</h4>
        <p>Description</p>
    </a>
    <a href="/SASS-framework">
        <h4>Bootstrap</h4>
        <p>Description</p>
    </a>
    <a href="https://github.com/PavelAvtushko/Binary-search-tree/blob/master/index.js">
        <h4>Binary Search Tree</h4>
        <p>Description</p>
    </a>
    <a href="/Responsive-design">
        <h4>Responsive-design</h4>
        <p>Description</p>
    </a>
    <a href="https://github.com/PavelAvtushko/Custom-JQuery/blob/master/index.js">
        <h4>Custom Jquery</h4>
        <p>Description</p>
    </a>

</main>
