<main class="clearfix cards">
    <a href="/CustomYouTube">
        <img src="./img/YouTube.jpg" alt="YouTube">
        <h4>Custom YouTube</h4>
        <p>Description</p>
    </a>
    <a href="/SimpleGame">
        <img src="./img/Game.jpg" alt="Game">
        <h4>Simple Game</h4>
        <p>Description</p>
    </a>
    <a href="/FormsWithJQuery">
        <img src="./img/Jquery.jpg" alt="Jquery">
        <h4>Forms with JQuery</h4>
        <p>Description</p>
    </a>
    <a href="/Accessibility">
        <img src="./img/as.png" alt="Accessibility">
        <h4>Accessibility</h4>
        <p>Description</p>
    </a>
    <a href="/FinalTaskHTML">
        <img src="./img/fin.jpg" alt="FinalTaskHTML">
        <h4>Final HTML Task</h4>
        <p>Description</p>
    </a>
    <a href="/SASS-framework">
        <img src="./img/sad.jpg" alt="framework">
        <h4>Bootstrap</h4>
        <p>Description</p>
    </a>
    <a href="https://github.com/PavelAvtushko/Binary-search-tree/blob/master/index.js">
        <h4>Binary Search Tree</h4>
        <p>Description</p>
    </a>
    <a href="/Responsive-design">
        <img src="./img/rwd.jpg" alt="rwd">
        <h4>Responsive-design</h4>
        <p>Description</p>
    </a>
    <a href="https://github.com/PavelAvtushko/Custom-JQuery/blob/master/index.js">
        <h4>Custom Jquery</h4>
        <p>Description</p>
    </a>

</main>
